<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/TransMedia/TransMediaAssignment"><classes><class name="UI.Test.BoardCreationTest"><methods><include name="testBoardVisibility"/></methods></class></classes></test></suite>